<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Mentee
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button [href]="'tabs/mentee/detail'" size='medium' expand='full'>
            Atualizar informações
          </ion-button>
</ion-content>
<li class="nav-item">
      <a class="nav-link" routerLink="/detail" routerLinkActive="active">Child One</a>
    </li>
<!--ion-router-outlet name="app-mentee-detail"></ion-router-outlet-->
