DOMAIN='brasa-pre-app.eu.auth0.com'
AUDIENCE_BACKEND='https://online-exam.digituz.com'
CLIENT_ID_INTERACT_AUTH0=
CLIENT_SECRET_INTERACT_AUTH0=
CLIENT_ID_INTERACT_BACKEND=
CLIENT_SECRET_INTERACT_BACKEND=
HEROKU_USERS_ENDPOINT='https://brasa-pre.herokuapp.com/api/users'
