<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Mentee
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Bem-vindo!</ion-card-subtitle>
        <ion-card-title>Pagina inicial - Brasa Pré</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Placeholder</p>
      </ion-card-content>
    </ion-card>
    <form [formGroup]="todo" (ngSubmit)="logForm()">
      
       <br>
       <ion-label>Reporte seus resultados em provas (SAT, TOEFL ...). Adicione campos conforme necessário:</ion-label>
       <br>
       <ion-item *ngFor="let att of scoresArray; let idx = index">
            <br>
            <ion-label>Prova</ion-label>
            <ion-input type="text"  text-right  [(ngModel)]="scoresArray[idx].category" [ngModelOptions]="{standalone: true}"></ion-input>
            <ion-label>Categoria</ion-label>
            <ion-input type="text"  text-right  [(ngModel)]="scoresArray[idx].subcategory" [ngModelOptions]="{standalone: true}"></ion-input>
            <ion-label>Nota</ion-label>
            <ion-input type="text"  text-right  [(ngModel)]="scoresArray[idx].score" [ngModelOptions]="{standalone: true}"></ion-input>
        </ion-item>
        <ion-button  (click)="AddScore()">Adicionar Prova</ion-button>
        <ion-button  (click)="RemoveScore()">Remover Prova</ion-button>


      <ion-button type="submit" [disabled]="!todo.valid">Submit</ion-button>
    </form>
</ion-content>
