<!--ion-header>
  <ion-toolbar>
    <ion-title>{{mentorDeckGroup}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <app-search (searchCompleted)="hydratementors($event)" [items]="copyOfmentors" [filteredProperty]="'name'"></app-search>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="mentors.length > 0">
    <ion-mentor *ngFor="let mentor of mentors">
      <ion-mentor-header>
        <ion-mentor-subtitle>
          {{mentor.mentorSet}}
        </ion-mentor-subtitle>
        <ion-mentor-title>
          {{mentor.name}}
        </ion-mentor-title>
      </ion-mentor-header>
      <ion-mentor-content>
        <div [innerHTML]="mentor.text">
        </div>
        <ion-button [href]="'/tabs/(mentor:mentor/' + mentor.mentorId + ')'" size='medium' expand='full'>
          See Detail
        </ion-button>
      </ion-mentor-content>
    </ion-mentor>
  </ion-list>
</ion-content-->
<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Mentor
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <ion-list>
      <ion-card *ngFor="let mentorDeck of mentorDecks">
        <ion-card-header>
          
          <ion-card-title>{{ mentorDeck.first_name + " " + mentorDeck.last_name }}</ion-card-title>
          <ion-card-subtitle class="username">{{"Username: " + " " + mentorDeck.username }}</ion-card-subtitle>
        </ion-card-header>
  
        <!-- <h2>{{ mentorDeck.first_name }}</h2>
        <h2>{{ mentorDeck.last_name }}</h2>
        <app-card-list></app-card-list> -->
  
        <ion-card-content>
      
          <ion-button [href]="'/tabs/mentor/listing/' + mentorDeck.id" size='medium' expand='full'>
            See Detail
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </ion-content>


  <!-- <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Mentor
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
 <ion-content padding>
  <ion-list>
    <ion-card *ngFor="let mentorDeck of mentorDecks">
      

      <ion-card-content>
        <div id="menteeDeck">
            <h1>{{"Mentor ID: " + " " + mentorDeck.mentor_id }}</h1>
            <h1>{{"Cycle ID: " + " " + mentorDeck.cycle_id }}</h1>
        
        </div>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content> -->