<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Mentee
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <ion-list>
      <ion-card *ngFor="let menteeDeck of menteeDeck">
        <div *ngIf="menteeDeck.id == menteeId">

            <ion-card-header>
          
                <ion-card-title>{{ menteeDeck.first_name + " " + menteeDeck.last_name }}</ion-card-title>
                <ion-card-subtitle class="username">{{"Username: " + " " + menteeDeck.username }}</ion-card-subtitle>
            </ion-card-header>

            <ion-list>
                <ion-item>
                    <span><strong>Estado </strong></span><span>{{ ": " + menteeDeck.state }}</span>
                </ion-item>
                <ion-item>
                    <span><strong>Cidade</strong></span><span>{{ ": " + menteeDeck.city }}</span>
                </ion-item>
                <ion-item>
                    <span><strong>Financial Aid </strong></span><span>{{ ": " + menteeDeck.financial_aid }}</span>
                </ion-item>
            </ion-list>

          <ion-card-content>
            <div id="menteeDeck">
            
              <!-- <h2>{{ menteeDeck.exam_schedules }}</h2>
              <h2>{{ menteeDeck.university_applications }}</h2> -->

              <ion-button [href]="'tabs/mentee/detail'" size='medium' expand='full'>
                Atualizar informações
              </ion-button>
              <ion-button [href]="'tabs/mentee/test'" size='medium' expand='full'>
                Adicionar prova
              </ion-button>
              <ion-button [href]="'tabs/mentee/essay'" size='medium' expand='full'>
                Adicionar essay
              </ion-button>
            </div>
            </ion-card-content>
        </div>
      </ion-card>
    </ion-list>
  </ion-content>